<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= myTitle2%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <div>이름 : <%= qqq.username %></div>
    <div>성별 : <%= qqq.gender %></div>
    <div>
      생일 : <%=qqq.birthYear%>년 <%=qqq.birthMonth%>월 <%=qqq.birthDay %>일
    </div>
    <div>취미 : <%= qqq.hobby %></div>
    <div>range : <%= qqq.range %></div>

    <div>email : <%= qqq.email %></div>
    <div>color : <%= qqq.color %></div>
    <a href="/test2">back</a>
  </body>
</html>
