<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=`, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .success {
        color: blue;
        font-weight: 700;
      }
    </style>
  </head>

  <body>
    <h1>axios 폼 전송 실습 풀이</h1>
    <form action="/practice1" method="get">
      <label for="username">이름</label>
      <input type="text" name="username" id="username" />
      <br />

      <fieldset>
        <legend>성별</legend>
        <input type="radio" id="male" name="gender" value="male" />
        <label for="male">남자</label>
        <input type="radio" id="female" name="gender" value="female" />
        <label for="female">여자</label>
      </fieldset>
      <br />

      <fieldset>
        <legend>생년월일</legend>
        <!-- <input type="date"> -->

        <select name="birthYear" id="year">
          <% for (let i = 0; i < 50; i++) { %>
          <option value="<%= 2010 - i %>"><%= 2010 - i %></option>
          <% } %>
        </select>
        <label for="year">년</label>
        <select name="birthMonth" id="month">
          <% for (let i = 1; i < 13; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="month">월</label>
        <select name="birthDay" id="day">
          <% for (let i = 1; i < 31; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="day">일</label>
      </fieldset>
      <br />

      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" id="travle" name="hobby" value="travle" />
        <label for="travle">여행</label>
        <input type="checkbox" id="fashion" name="hobby" value="fashion" />
        <label for="fashion">패션</label>
        <input type="checkbox" id="food" name="hobby" value="food" />
        <label for="food">음식</label>
      </fieldset>
      <br />

      <button onclick="clickRegister();" type="submit">회원가입</button>

      <p>app.js에 저장한 id는 banana이고, pw는 4321이다.</p>
      <form action="">
        <label for="userId">아이디</label>
      </form>
    </form>

    <div class="register-result"></div>

    <script>
      const registerResult = document.querySelector(".register-result");

      function clickRegister() {
        console.log("click register btn !!!");

        const form = document.forms["register"];
        const formInfo = {
          username: form.username.value,
        };

        axios({
          url: "/practice1",
          method: "GET",
          params: "formInfo",
        }).then(function (response) {
          console.log(response);
          console.log(response.data); //
          registerResult.textContent = `${response.data.username}님환영합니다. 가입이 완료되었습니다.`;
        });
      }
    </script>
  </body>
</html>
